<!DOCTYPE html>
<html>
<head>
  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css"/>
    <link href="~/Styles/menusom.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/JavaScript" src="js/plugins/jplayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="~/Scripts/menu_efeito_som .js"></script>
    <script type="text/javascript" src="~/Scripts/som.js"></script>

</head>
<body>
    <audio id="audio"  controls>
        <source id="som" src="~/sons/Aline Barros - Sonda-me, Usa-me.mp3" />                  
    </audio> 
    
    <div id="pagina">
        <table>
            <tr>
                <td>
                    <div class="caixa_som">

                        <div class="titulo">Aline Barros</div>
                        <div class="conteudo show">
                            <ul class="playlist">                                 
                                <li><a id="link" href="~/sons/Aline Barros Sonda me, Usa me.mp3">Sonda-me, Usa-me</a> </li>                                 
                            </ul>
                        </div>
                    </div> 
                </td>

                <td>
                    <div class="caixa_som">

                        <div class="titulo">Fernandinho</div>
                        <div class="conteudo hide">
                            <ul class="playlist">                             
                                <li><a id="link" href="~/sons/Fernandinho - Grandes Coisas (DVD Uma Nova História).mp3">grandes coisas</a> </li>
                                <li><a id="link" href="~/sons/Fernandinho - Todas as Coisas (DVD Uma Nova História).mp3">todas as coisas</a> </li>
                                <li><a id="link" href="~/sons/Fernandinho - Nada Além Do Sangue.mp3">Nada Alem do Sangue</a> </li>
                            </ul>
                        </div>
                    </div> 
                </td>

                <td>
                    <div class="caixa_som">

                        <div class="titulo">Nani Azevedo</div>
                        <div class="conteudo hide">
                            <ul class="playlist">
                                <li><a id="link" href="~/sons/Nani Azevedo Atrai Meu Coracao.mp3">Atrai meu coração</a></li>  
                                <li><a id="link" href="~/sons/NANI AZEVEDO - NÃO TEMAS.mp3">Não Temas</a></li>  
                                <li><a id="link" href="~/sons/Quero descer - Raquel Mello e Nani Azevedo.mp3">Quero descer</a></li>                              
                            </ul>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="caixa_som">

                        <div class="titulo">Kleber Lucas</div>
                        <div class="conteudo hide">
                            <ul class="playlist">
                                <li><a id="link" href="~/sons/Deus cuida de mim - kleber Lucas.mp3">Deus cuida de mim</a></li>                               
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>                       
    </div>  
    
        <div class=".top-bar .player-display .player-current-track">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("PIB Cataguases", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Principal", "Index", "Home")</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year - Primeira Igreja Batista de Cataguases</p>
            </footer>
        </div>

        <img id="logo" class="img-responsive" src="~/figura/logo.png" alt="" width="100" />


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("css", false)

</body>
</html>
